---
// Definere astro props så de kan bruges i html
import MainLayout from '../layout/MainLayout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Person2 from '../components/Person2.astro';
import FaveItems from '../components/FaveItems.astro';
---

<MainLayout title="About Us">
    <main>
        <HeroBanner breadcrumb="About Us" />
        <div class="margin about_top">
            <p>Ruda Patrice is based on the fundamental ideas of responsibility, ethics & transparency. Offering new takes on what a brand can be. Our products are rooted around circularity and an honest approach. </p>
            <p>We met in 2015 at work. It sounds cliché, but there's always that one work friend who stays with you for life, and we were each other's. We've worked in different industries and have our own competencies. Here, we quickly found a common passion that we both share. There was no doubt that we wanted to work with responsible production and unique products.</p>
        </div>
        <Person2 />
        <FaveItems />
    </main>
</MainLayout>

<style>
.about_top {
    margin-top: 50px;
    margin-bottom: 50px;

    max-width: 700px;
}

.about_top p {
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .about_top {
        margin-left: auto;
        margin-right: auto;
    }
}
</style>