---
import MainLayout from '../layout/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Banner from '../components/Banner.astro';
import Drops from '../components/Drops.astro';
import Hdw from '../components/Hdw.astro';
import Hww from '../components/Hww.astro';
---

<MainLayout title="Ruda Patrice">
  <main>
    <Hero />
    <Banner />
    <Drops />
    <Hdw />
    <Hww />
  </main>
</MainLayout>

<style>

  
</style>