---

---

<a href="/yourGarden">
  <marquee behavior="scroll" direction="left" scrollamount='6' onmouseover='this.stop()' onmouseout='this.start()'>UPCOMING EVENT: Show Us Your Gardens, 24/6-2023. <span>Bring your damaged clothes to our shop, and create your own unique item. It will be a fun day with laughs and beers.</span></marquee>
</a>

<style>
    marquee {
        background-color: var(--secondary-color);
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    
      span{
        font-style: italic;
      }
</style>
