---

---
<section class="margin">
    <div>
        <h2>Did You Know?</h2>
        <p>Did you know that you can plant our labels when you bring home a unique piece of Ruda Patrice clothing?</p>
        <p>You can get everything from mint, basil to parsley, what did you bring home? </p>
        <p>Simply tear up the label and plant it, you'll also see it grow just like in the video next to it.</p>
        <p>We can't wait to watch your plant grow <span>#rudapatriceshowyourgarden.</span></p>
    </div>
    <video muted autoplay loop playsinline src="/video/rp_stopmotion_1bit.mp4"></video>
</section>

<style>
    section {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    video {
        padding: 10px;
       
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 15px;
    }

    span {
        color: var(--secondary-text-color);
        font-weight: 700;
    }

    @media (min-width: 600px) {
        section {
            flex-direction: row;
            justify-content: space-between;

            padding-left: 100px;
            padding-right: 100px;
        }

        video {
            max-width: 300px;
        }

        div {
            align-self: center;
        }

        h2 {
            text-align: start;
        }

        p {
            margin-bottom: 20px;
        }
    }

</style>