---

---

<article class="margin">
    <div>
      <h2>How Drops Work</h2>
      <p>Here's how it works: When we launch a new drop, it features a carefully curated selection of exclusive products. These items are available for a limited time only and in limited quantities, adding an element of exclusivity to your purchase.</p>
      <p>Once a drop is live, you have the opportunity to browse through the collection and select your favorite pieces. Act quickly, as our drops often generate high demand due to their limited availability. Once an item is sold out, it won't be restocked.</p>
      <p>We believe in the power of anticipation, which is why we introduce a new drop only after the previous one has completely sold out. This ensures that each release is eagerly awaited and keeps our offerings fresh and exciting. </p>
    </div>
    <img src="/img/hdwfront.webp" alt="Billede af krave på Ruda Patrice skjorte">
  </article>

  <style>
      h2 {
    margin-bottom: 30px;
  }
  article {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  img {
    min-width: 300px;
    height: 100%;
    max-width: 600px;
    margin-top: 40px;
  }

  p {
    margin-bottom: 20px;
  }

  @media (min-width: 600px) {
    article {
      flex-direction: row;
      justify-content: space-between;
      gap: 80px;
    }

    div {
      max-width: 650px;
      align-self: center;
    }
  }
  </style>