---

---

<article class="margin">
    <img src="/img/hwwfront.webp" alt="">
    <div>
      <h2>How We Work</h2>
      <p>At Ruda Patrice, we prioritize responsible production. To achieve this, we source all our materials and trims exclusively within the EU. This decision ensures shorter shipping routes, proper worker conditions, and close contact with our suppliers. By aligning the code of conduct with our Ruda Patrice ethos, we guarantee ethical practices throughout the supply chain. This approach not only reduces our carbon footprint but also promotes sustainability, transparency, and the well-being of workers.</p>
      <a href="/ourMaterials">Our Materials</a>
    </div>
  </article>

  <style>
    article {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }

  h2 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 40px;
  }

  img {
    min-width: 300px;
  }

  a {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    text-transform: uppercase;
  }

  @media (min-width: 600px) {

    article {
      flex-direction: row;
      justify-content: space-between;
      gap: 80px;
    }

    div {
      max-width: 650px;
      align-self: center;
    }
  }
  </style>