---
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">
		<link rel="stylesheet" href="https://use.typekit.net/msv0dhm.css">
		<link rel="stylesheet" href="/css/generel.css">
		<script is:inline src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<script is:inline src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/"><img src="/img/Logo.png" alt="Logo"></a>
				<ul class="desktop_menu">
					<li><a href="/store">Store</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/ourMaterials">Our Materials</a></li>
					<li><a href="/yourGarden">Your Garden</a></li>
				</ul>
				<lottie-player class="burger-menu-button" id="burger" speed="4" src="https://assets6.lottiefiles.com/packages/lf20_pDIAHc.json"></lottie-player>
				<ul class="menu-list">
				  <li><a href="/store">Store</a></li>
				  <li><a href="/about">About Us</a></li>
				  <li><a href="/ourMaterials">Our Materials</a></li>
				  <li><a href="/yourGarden">Your Garden</a></li>
				</ul>
				<img id="kurv" src="/icon/shopping-bag.svg" alt="Kurv">
			</nav>
		</header>
		<slot />
        <footer class="footer">
            <div id="footer_about">
                <img src="/img/Logo.png" alt="Logo">
                <p>We are based in copenhagen and we produces our products under pre sensible stands.</p>
            </div>
            <div id="footer_company">
                <h4>Company</h4>
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="faq.astro">FAQ</a></li>
                    <li><a href="sizeguide.astro">Size Guide</a></li>
                    <li><a href="termscond.astro">Terms & Conditions</a></li>
                    <li><a href="contact.astro">Contact</a></li>
                </ul>
            </div>
            <div id="footer_news">
                <div>
                	<h4>Sign Up To Newsletter</h4>
	                <form>
	                    <input type="email" placeholder="YourMail@gmail.com" required>
	                    <button>SUBSCRIBE</button>
	                </form>
                </div>
				<div id="footer_socials">
					<a target="_blank" href="https://www.instagram.com/rudapatrice/"><img src="/icon/instagram.svg" alt="Instagram Logo"></a>
					<a target="_blank" href="https://www.tiktok.com/@rudapatrice?is_from_webapp=1&sender_device=pc"><img src="/icon/tiktok.svg" alt="TikTok Logo"></a>
					<a target="_blank" href="https://www.facebook.com/profile.php?id=100081175756836"><img src="/icon/facebook.svg" alt=""></a>
				</div>
            </div>
			<div id="footer_address">
				<p>Herluf Trolles Gade 21, Kld.</p>
                <p>1052 Copenhagen K, Denmark</p>
			</div>
        </footer>
	</body>
</html>

<script is:inline>

	// Burger menu lytter efter klik
	document.querySelector("#burger").addEventListener("click", toggleMenu);

	// Funktionen toggleMenu tilføjer og fjerner klassen "show" på menu-list
	// Dette gør at menuen vises og skjules
    function toggleMenu() {
		console.log("toggleMenu");
      	var menuList = document.querySelector(".menu-list");
      	menuList.classList.toggle("show");
    }

	// Her styrer vi vores kurv på mobile, som sidder i nederste højre hjørne og som stopper ved footer
	// Vi bruger window.pageYOffset til at finde ud af hvor langt vi er scrollet ned
	// Vi bruger window.innerHeight til at finde ud af hvor høj vores vindue er
	// Vi bruger offsetTop til at finde ud af hvor langt der er fra toppen af vores kurv til toppen af vores vindue
	// Vi bruger offsetHeight til at finde ud af hvor høj vores kurv er
	// Vi bruger disse værdier til at finde ud af hvor langt der er fra bunden af vores kurv til toppen af vores vindue
	window.addEventListener("scroll", function() {
      var icon = document.querySelector("#kurv");
      var footer = document.querySelector(".footer");

      var iconBottom = icon.offsetTop + icon.offsetHeight;
      var footerTop = footer.offsetTop;

      if (window.pageYOffset + window.innerHeight > footerTop) {
        icon.style.bottom = (window.pageYOffset + window.innerHeight - footerTop + 20) + "px";
      } else {
        icon.style.bottom = "20px";
      }
    });

	// Her styrer vi vores lottieplayer(mikroanimation) på burgermenuen
	// Vi bruger lottie-interactivity til at lave en toggle funktion, som gør at mikroanimationen starter play
	LottieInteractivity.create({
    player:'#burger',
    mode:"cursor",
    actions: [
        {
            type: "toggle"
        }
]
});
  </script>

